.header-navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    list-style: none;
    padding: 1.5rem 1rem;
 }
.header-navbar-list-item a{
    text-decoration: none;
    color: var(--color-font-title);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: var(--font-title);
}
.header-navbar-list-item a:hover {
    color: var(--color-hover-border);
    border-bottom: 1px solid var(--color-hover-border);

}
